{% load static %}
{% load crispy_forms_tags %}
<div>
    <form method="post" action="{% url 'Info_rent' rent %} " id="info_rent_form">
        {% csrf_token %}
        {%for i in formset%}
        <div class="row">
            <div class="col-lg-3 mb-1">
                {{i.material|as_crispy_field}}
            </div>
            <div class="col-lg-3">
                {{i.date_of_issue|as_crispy_field}}
            </div>
            <div class="col-lg-3">
                {{i.quantity|as_crispy_field}}
            </div>
            <div class="col-lg-3">
                {{i.DELETE|as_crispy_field}}
            </div>

        </div>
        {% endfor %}
        <button type="submit" class="btn bnt-submit " id="btn_info_rent" style="width: -webkit-fill-available;">
            Сохранить
        </button>
    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function ()   {

    data_rent.onpaste = function(event) {
        var ean = event.clipboardData.getData('text/plain');
        var worker = $('.input-worker').val()
        alert(ean)
        $.ajax({
            url:"data_rent/"+ean+"/"+worker,
            success: function(response){
            $('.data_ean').html(response);

                }
        })
     };
    $('#btn_info_rent').click(function(){
        $('.material').prop('disabled',false)
        })
    $('#data-rent')
})

</script>












