{% extends "addition/layout/basic.html" %}
{% block Rent %}

<div class="col-lg-6">
    <div class="form-outline">
        <input type="text" id="typeText" class="form-control input-worker"/>
        <label class="form-label" for="typeText">Фамилия</label>
    </div>
</div>
<div class="col-lg-6">

    <div class="form-outline">
        <input type="text" id="typeText1" class="form-control input-ean"/>
        <label class="form-label" for="typeText">Инструмент</label>
    </div>

</div>
<div class="row justify-content-between">
    <div class="col-lg-6 data_worker">

    </div>

    <div class="col-lg-6">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Наименнование</th>
                <th scope="col">Количество</th>
                <th scope="col">В наличии</th>
            </tr>
            </thead>
            <tbody class="data_ean">

            </tbody>
        </table>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function ()   {
        $('.input-ean').on('paste',function(e) {
            var ean = (e.originalEvent || e).clipboardData.getData('text/plain');

            $.ajax({
                url:"rent/"+ean,
                success: function(response){
                    $('.data_ean').append(response);
                }
            })
        })

         $('.input-worker').on('paste',function(e) {
            var worker = (e.originalEvent || e).clipboardData.getData('text/plain');

            $.ajax({
                url:"info_rent/"+worker,
                success: function(response){
                    $('.data_worker').html(response);
                }
            })
        })

})

</script>
{% endblock %}
